/*Base styles*/

body {
    background-color: $primary-color;
    text-align: center;

    h1 {
        font-size: $font-size1;
    }

    p {
        font-size: $font-size2;
        color: $text-color;
    }
}