/*Base styles*/
html {
    scroll-behavior: smooth;
}

body {
    background-color: $primary-color;
    font-family: 'Concert One', cursive;
    margin: 0;

    h1 {
        font-size: $font-size1;
        font-family: 'Luckiest Guy', cursive;
        text-shadow: 3px 3px 3px black;
        font-weight: 900;
    }

    p {
        font-size: $font-size2;
        color: $text-color;
    }

    header {
        height: 100vh;
        background-image: url(../../img/bench-cascade-creek-355321-min.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        color: skyblue;
        text-align: center;
        background-attachment: fixed;
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;

        div {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        span {
            font-weight: 900;
            text-shadow: 3px 3px 3px black;
            font-size: $font-size2;
            font-family: 'Luckiest Guy', cursive;
        }
    }

    h2 {
        @include headings;
    }

    h3 {
        @include headings;
        font-size: $font-size4;
    }

    a {
        &:link {
            color: #c4d3bf;
            text-decoration: none;
        }

        &:visited {
            color: #c4d3bf;
            text-decoration: none;
        }

        &:hover {
            color: white;
            text-decoration: underline;
        }
    }

    ul {
        font-size: 1.2em;
    }

    ol {
        color: white;
        font-size: 1.3em;
    }

    footer {
        @include headings;
        font-size: 1em;

        a {
            color: #c4d3bf;
        }
    }
}