.secondary-content img {
    display: block;
    margin: auto;
    width: 70%;
    height: 70vh;
    box-shadow: 2px 2px 2px black,
                -2px -2px 2px black;
    margin-top: 3vh;
}
header {
    img {
        width: 30px;
        height: 30px;
        position: relative;
        top: 40vh;
        animation: mover .8s infinite  alternate;
    }
    @keyframes mover {
        0% { transform: translateY(0); }
        100% { transform: translateY(20px); }
    }
}
