// Defining variables for sass
$primary-color: #006221;
$font-size1: 3.3em;
$font-size2: 1.7em;
$font-size3: 2.4em;
$text-color: #ffffff;
@import url('https://fonts.googleapis.com/css?family=Mali|Niramit|Luckiest+Guy');